<div class="container-fluid px-0">
  <div class="header py-4">
    <div class="mx-5">
      <div class="row">
        <div class="col-3 ">
          <h2 class="logo rubik-font">Fruity</h2>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
          <div class="d-flex gap-5">
            <a href="#" class="text-decoration-none text-black">Home</a>
            <a href="#" class="text-decoration-none text-black">About</a>
            <a href="#" class="text-decoration-none text-black">How to shop</a>
            <a href="#" class="text-decoration-none text-black">List</a>
            <a href="#" class="text-decoration-none text-black">Contact</a>
          </div>
        </div>
        <div class="col-3 d-flex align-items-center justify-content-end">
          <div class="d-flex gap-3">
            <a href="#" class="text-decoration-none text-black">Log in</a>|
            <a href="#" class="text-decoration-none text-black">Register</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-5">
          <h1 class="rubik-font">Welcome to Fruity,</h1>
          <h1 class="rubik-font">Your choice to shop a fresh local fruits!</h1>
          <p>All our fruits and vegetables was 100% from local farmers. We give a quarantine that our products are fresh, organic and also healthy!</p>
          <button class="btn btn-danger">Let's shopping</button>
        </div>
        <div class="col">

        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-success"><icon-delivery></icon-delivery> Free delivery</button>
        </div>
        <div class="col">
          <button class="btn btn-success"><icon-fire></icon-fire> Free delivery</button>
        </div>
        <div class="col">
          <button class="btn btn-success"><icon-thumbs-up></icon-thumbs-up> Free delivery</button>
        </div>
      </div>

    </div>
  </div>

</div>