.logo {
  color: #298F52;
  font-size: 40px;
  font-weight: 700;
}

.rubik-font { font-family: 'Rubik'; }

.header { 
  background: #FFEDCC;

  h1 {
    font-weight: 700;
    font-size: 50px;
  }
  
  p { color: #5f5f5fb5; }

  .shopping-btn {
    width: 300px;
    height: 70px;
    font-size: 24px;
  }
  
  img { max-width: 240px; max-height: 240px;}

  .img1 { max-width: 270px; max-height: 240px;}
  
  .card { font-size: 20px; }
}

.card { color: white; }

button, button:hover, button:focus { color: white; }

.black-1 { color: #1F1E1E; }

select {
  width: 180px;
  border: 1px solid rgba(104, 104, 104, 0.81);
  border-radius: 10px;
}

.bar .active, .bar a:hover { font-weight: 700; }

.text-yellow { color: #E4CA40; }
.text-gray { color: #EBE7D5; }

.list-card {
  height: 100%;

  h5 { 
    font-size: 26px;
    color: #2E2929;
  }

  p { color: #B9B1A7; }

  .price { color: #1D1A1A; }
}

.pagination {
  background: white;
  a { color: #615D5D; }

  button {
    background: #EEEEEE;
    color: #585757;
  }
}


.pagination a:hover, .pagination .active{
  text-decoration: underline 3px;
  text-underline-offset: 3px;
  text-decoration-color: #28B15F;
  font-weight: bolder;
}

h3 {font-size: 36px; }

#testimonial {
  text-decoration: underline 4px;
  text-underline-offset: 4px;
  text-decoration-color: #28B15F;
  
  .sub-testimonial { color: #5C5959;}
}

.testimonial-card { height: 100%;}
.name { font-size: 20px; }
.location { font-size: 16px; }
.p-text { font-size: 20px; }

.green { background: #2ABF7D; }
.purple { background: #A859C3; }
.blue { background: #4A7AD3;}

.newsletter {
  filter: drop-shadow(0.750835px 3.9289px 80px rgba(0, 0, 0, 0.07)) 
    drop-shadow(0.289211px 1.51335px 25.4815px rgba(0, 0, 0, 0.0425185)) 
    drop-shadow(0.0611792px 0.320132px 6.51852px rgba(0, 0, 0, 0.0274815));
  h3 { color: #2C2929; }
  p { 
    color: #656565; 
    font-size: 20px;
  }

  form {
    input {
      border-radius: 0;
      border: none;
      outline: none;
      background: #e7e7e7cf;
      width: 70%;
      height: 61px; 
    }

    button {
      border-radius: 0;
      width: 30%;
      font-size: 20px;
      height: 61px;
    }
  }
}
.newsletter_img { max-width: 100%; }

.newsletter-form input::placeholder {
  color: #00000059;
}

@media (max-width: 576px) {
  .newsletter {
    form {
      input { width: 100%; }

      button { width: 60%; }
    }
  }
}

.footer {
  background: #20964F;
  color: white;

  ul li a {
    color: white;
    font-size: 18px;
    font-weight: 400;
  }

  .logo_img {height: 32px;}

  .title-logo {
    font-size: 30px;
    font-weight: 700;
  }

  .title {
    font-size: 20px;
    font-weight: 700;
  }

  .download { font-size: 16px; }

  .download_img {
    width: 200px;
  }
}

